[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
asn1crypto = "*"
attrs = "*"
backcall = "*"
bleach = "*"
certifi = "*"
cffi = "*"
chardet = "*"
constantly = "*"
cryptography = "*"
cryptography-vectors = "*"
decorator = "*"
entrypoints = "*"
html5lib = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jedi = "*"
jsonschema = "*"
jupyter = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
python-dateutil = "*"
pyzmq = "*"
qtconsole = "*"
requests = "*"
simplegeneric = "*"
six = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
Automat = "*"
ipython_genutils = "*"
Jinja2 = "*"
jupyter_client = "*"
jupyter_console = "*"
jupyter_core = "*"
MarkupSafe = "*"
prometheus_client = "*"
prompt_toolkit = "*"
Pygments = "*"
pyOpenSSL = "*"
Send2Trash = "*"
service_identity = "*"
Twisted = "*"
"zope.interface" = "*"
singledispatch = "*"
rise = "*"

[requires]
python_version = "3.7"
